section {
    padding: 20px;
    text-align: center;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.blog-post {
    display: grid;
    grid-template-rows: auto 4fr auto;
}

.back-button {
    justify-self: center;
    margin-top: 1em;
}

.head {
    background-color: var(--verdigris);
}

.bod {
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--peach-puff);
}

.foot {
    background-color: var(--bittersweet);
}